$burger-color: #666;

@mixin bun($color) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 3px;
  background: $color;
  transition: background 0.3s, transform 0.3s, top 0.3s;
}

.burger-box {
  z-index: 1001;
  position: absolute;
  top: 12px;
  left: 1rem;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.burger {
  content: '';
  font-size: 0px;
  user-select: none;
  @include bun($burger-color);
  &:before {
    @include bun($burger-color);
    top: -8px;
    left: 0;
    content: '';
  }
  &:after {
    @include bun($burger-color);
    top: 8px;
    left: 0;
    content: '';
  }
}

.burger--open .burger {
  //@include transform(translateX(220px));
  @include transition(all 0.25s linear);
  background: transparent;
  &:before {
    top: 0;
    transform: rotateZ(-45deg);
  }

  &:after {
    top: 0;
    transform: rotateZ(45deg);
  }
}

body.disable-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
