.grow {
  transition: transform .2s ease-in-out;
}
a:hover {
  .grow {
    transform: scale(1.05);
  }
}

.overlay {
  position: absolute;
  bottom: 0 + 1rem;
  width: calc(100% - 0.5rem);
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  overflow: hidden;
}

.title-box {
  position: absolute;
  width: inherit;
  height: 100%;
  bottom: -40px;
  opacity: 0;
  transition: all .2s ease;
  background: $orange;
  .title {
    font-weight: 700;
    margin-left: 4rem;
    margin-top: 0.7rem;
    width: 100%;
    height: 100%;
    display: table;
  }
  h6 {
    font-size: 1rem;
  }
}

a:hover {
  .title-box {
    z-index: 2;
    bottom: 0;
    opacity: 1;
  }
}