.dropdown {
  max-height: $nav-height;
  top: 0;
  margin: auto;

  .dropdown-container {
    z-index: 9995;
    display: inline-block;
    position: relative;
    text-align: left;
  }

  .dropdown-button {
    // min-height: $nav-height - 6;
    background: $dropdown-background;
    cursor: pointer;
    float: right;
    // line-height: $dropdown-height;
    margin: 0;
    position: relative;
    font-size: 1em;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    &:after {
      content: "\25BE";
      display: block;
      position: absolute;
      right: $dropdown-padding;
      top: $dropdown-arrow-top-distance;
    }
  }


  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background: $dropdown-background;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    width: 228px;
    z-index: 99999;

  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $dropdown-color;
    list-style: none;
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .show-menu {
    display: block;
  }
}
