.headroom {
  z-index: 1;
  background: #fff;
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;

  width: 100%;
}

.headroom--pinned {
  top: 0;
}
.headroom--unpinned {
  top: -50px;
}
.headroom--top {
  background: none;
}