/* ---- grid ---- */

.masonry {
  z-index: 0;
}

/* clear fix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .masonry-item ---- */

.masonry-sizer,
.masonry-item {
  width: 33%;
}

.masonry-item {
  float: left;
}

.masonry-item img {
  display: block;
  max-width: 100%;
}

.reveal {
  // visibility: hidden;
  overflow: hidden;
}

@media #{$gl-md}{
  .masonry-sizer,
  .masonry-item {
    width: 50%;
  }
}

@media #{$gl-sm}{
	.masonry-sizer,
	.masonry-item {
	  width: 100%;
	}
}

